/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  background-color: black;
  background-image: url(images/checker.png);
  background-repeat: repeat;
  color: white;
  font-family: Arial;
  animation: tween 100s linear infinite;
}

h1 {
  padding-left: 2.5%;
}

h2 {
  padding-left: 2.5%;
}

p {
  padding-left: 2.5%;
  font-style: normal;
  font-weight: normal;
}

label {
  font-weight: bold;
  font-style: italic;
}

img {
  width: 50px;
  height: 50px;
  align-self: flex-end;
}

footer {
  text-align: center;
}

.topbar {
  width: 50%;
  min-width: 400px;
  background-image: linear-gradient(black, darkblue);
  background-repeat: repeat;
  background-color: darkblue;
  border-style: hidden;
  border-width: 2px;
  border-radius: 25px 25px 0 0; 
  color: white;
  font-family: Verdana;
  text-indent: 15px;
}
    
.infobox {
  width: 50%;
  min-width: 400px;
  height: auto;
  background-color: black;
  border-style: solid;
  border-color: silver;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 25px 25px;
  padding: 10px;
}
/* This infobox is held up by sticks and stones and NO ONE can judge me for it! except for the people smart enough to read this and judge me for it */

input[id=input] {
  width: 95%;
  border: 2px solid grey;
  border-radius: 0 8px 0 8px;
  background-color: #C0FFEE;
  color: white;
  background-image: linear-gradient(#C0FFEE, black);
  background-size: contain;
  font-size: 20px;
  display: block;
  margin: 0 auto;
}

::placeholder {
  color: white;
  opacity: .5; /* Firefox */
}

@keyframes tween {
  from {background-position: bottom left;}
  to {background-position: top right;}

}
